# Main packages
transformers
accelerate
bitsandbytes
fastapi
uvicorn[standard]
pydantic
einops
requests
sentry-sdk[fastapi]
python-dotenv

# PyTorch (special installation)
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio